<ion-view title="My Wallet">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-qr-scanner" ng-click="showBarcode()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

		<div class="card" >
  			<div class="item item-text-wrap" style="background:#387EF5;">
				<center>
					<h1 style="color: white;">0.0btc</h1>
					<br> 
					<h2 style="color: white;">$0</h4>
					
			<p><a href="#" class="topcoat-button" id="scan">SCAN</a></p>
            <p><a href="#" class="topcoat-button" id="encode">ENCODE</a></p>
				</center>
  			</div>
		</div>
				
    </ion-content>
</ion-view>
