<ion-view view-title="" title="Johnny Wallet" class="intro">
    <ion-nav-buttons side="left">
        <button class="button button-positive button-clear no-animation" ng-click="startApp()" ng-if="!slideIndex">
            Skip Intro
        </button>
        <button class="button button-positive button-clear no-animation" ng-click="previous()" ng-if="slideIndex > 0">
            Previous Slide
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-positive button-clear no-animation" ng-click="next()" ng-if="slideIndex != 4">
            Next
        </button>
        <button class="button button-positive button-clear no-animation" ng-click="startApp()" ng-if="slideIndex == 4">
            Start using Johnny Wallet
        </button>
    </ion-nav-buttons>
    <ion-slide-box show-pager="true" on-slide-changed="slideChanged($index)">
        <ion-slide>
            <div id="logo">
                <img src="img/Logo.png">
            </div>
            <p>
                Own Your Money!
            </p>
            <br>
            <br>
            <br>
            <br>Swipe Right to Lkjgbjkbjkearn How to Use
            <br>Johnny Wallet
            <p>
<center><b>Bikes or Cars</b></center>
<center><input onclick="connect(this.value)" type="button" value="cars" /></center>
<center><input onclick="connect(this.value)" type="button" value="bikes" /></center>
<center><b>Results</b></center>
<ul id="result"></ul>
	</div>
<script charset="utf&minus;8" type="text/javascript">
function connect(e)
{
var term= {button:e};
$.ajax({
url:'http://www.johnnywallet.com/api/phone/test.php',
type:'POST',
data:term,
dataType:'json',
error:function(jqXHR,text_status,strError){
alert(“no connection”);},
timeout:60000,
success:function(data){
$("#result").html("");
for(var i in data){
$("#result").append("<li>"+data[i]+"</li>");
}
}
});}
</script>	
<script type="text/javascript" charset="utf-8">

    // Wait for Cordova to load
    //
    document.addEventListener("deviceready", onDeviceReady, false);

    // Wait for Cordova to load
    //
    document.addEventListener("deviceready", onDeviceReady, false);

    // Cordova is ready
    //
    function onDeviceReady() {
        var db = window.openDatabase("Database", "1.0", "Cordova Demo", 200000);
        db.transaction(populateDB, errorCB, successCB);
    }

    // Populate the database 
    //
    function populateDB(tx) {
         tx.executeSql('DROP TABLE IF EXISTS DEMO');
         tx.executeSql('CREATE TABLE IF NOT EXISTS DEMO (id unique, data)');
         tx.executeSql('INSERT INTO DEMO (id, data) VALUES (1, "First row")');
         tx.executeSql('INSERT INTO DEMO (id, data) VALUES (2, "Second row")');
    }

    // Transaction error callback
    //
    function errorCB(tx, err) {
        alert("Error processing SQL: "+err);
    }

    // Transaction success callback
    //
    function successCB() {
        alert("success!");
    }


    </script>
            <br>
            <br>
                <h5>Show intro on App Start?</h5>
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="showTutorial.checked" ng-change="saveCheck()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </p>
        </ion-slide>
        <ion-slide>
            <h3>Buy Bitcoins</h3>

        </ion-slide>
        <ion-slide>
            <h3>Sell Bitcoins</h3>


        </ion-slide>
        <ion-slide>
            <h3>Send Bitcoins</h3>


        </ion-slide>
        <ion-slide>
            <h3>Recieve Bitcoins</h3>

            
            
        </ion-slide>
    </ion-slide-box>
</ion-view>
