<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <h1 class="title">
                Navigation
            </h1>
        </ion-header-bar>
        <ion-content class="has-header">
            <ion-list>
                <ion-item menu-close class="item item-avatar" href="#/app/profile/personal">

                    <img ng-if="(loggedUser.personalData.avatar_personal && loggedUser.personalData.avatar_personal !== '')" ng-src="data:image/jpeg;base64,{{loggedUser.personalData.avatar_personal}}" width="100%" ng-click="showAvatar()" />
                    
                    <img ng-if="(!loggedUser.personalData.avatar_personal || loggedUser.personalData.avatar_personal == '') && (loggedUser.personalData.avatar && loggedUser.personalData.avatar !== '')" ng-src="{{loggedUser.personalData.avatar}}" ng-click="showAvatar()">

                    <img ng-if="(!loggedUser.personalData.avatar_personal || loggedUser.personalData.avatar_personal == '') && (!loggedUser.personalData.avatar || loggedUser.personalData.avatar == '')" ng-src="{{defAvatar}}" ng-click="showAvatar()">

                    <div href="#/app/profile/personal">
                        <h2>Hi {{loggedUser.personalData.first_name}}</h2>
                        <p>{{loggedUser.personalData.email}}</p>
                    </div>                
                </ion-item>
                
                <ion-item class="bar bar-header bar-positive">
                    Accounts
                </ion-item>
                
                <ion-item nav-clear menu-close href="#/app/home">
                    <i class="ion-cash"> My Wallet</i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/home">
                    <i class="ion-lock-combination"> My Vault</i>
                </ion-item>
                
                <ion-item class="bar bar-header bar-positive">
                    Bitcoin
                </ion-item>
                           
                <ion-item nav-clear menu-close href="#/app/home">
                    <i class="ion-paper-airplane"> Send</i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/home">
                    <i class="ion-ios-compose"> Request</i>
                </ion-item>
                
                <ion-item nav-clear menu-close href="#/app/home">
                    <i class="ion-social-bitcoin"> Buy</i>
                </ion-item>
                
                <ion-item nav-clear menu-close href="#/app/home">
                    <i class="ion-social-usd"> Sell</i>
                </ion-item>
				
				
                
                <ion-item class="bar bar-header bar-positive">
                    App
                </ion-item>
                
                <ion-item nav-clear menu-close ng-click="showSettings()">
                    <i class="ion-ios-gear"> Settings</i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/home">
                    <i class="ion-android-person-add"> Invite Friends</i>
                </ion-item>

            </ion-list>
        </ion-content>
        <ion-footer-bar class="bar-stable">
            <div class="title">1BTC = $304.52</div>     
        </ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>


