<ion-view hide-back-button="true">
    <ion-nav-title>
        <div align=center>Log In</div>
    </ion-nav-title>
    <ion-content>
        <form class="form-signin" role="form" name="signForm">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email Address</span>
                    <input type="email" name="email" ng-model="user.email" placeholder="Email Address">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-model="user.password" placeholder="Password">
                </label>
            </div>
            <p style="color:red;" ng-show="regError">{{regErrorMessage}}</p>
            <button class="button button-block button-positive" ng-click="SignIn($event)">
                Log In
            </button>
        </form>

        <div align=center>OR</div>
        <button class="button button-block button-positive icon-left ion-social-facebook" ng-click="SignOther('facebook')">
            Login with Facebook
        </button>
        <button class="button button-block button-positive icon-left ion-social-twitter" ng-click="SignOther('twitter')">
            Login with Twitter
        </button>
        <button class="button button-block button-positive icon-left ion-social-google" ng-click="SignOther('google')">
            Login with Google
        </button>

        <div align=center><a ui-sref="register">Sign Up</a></div>
        <div align=center><a ui-sref="forgot">Forgot Password</a></div>
			<div>
<center><b>Bikes or Cars</b></center>
<center><input onclick="connect(this.value)" type="button" value="cars" /></center>
<center><input onclick="connect(this.value)" type="button" value="bikes" /></center>
<center><b>Results</b></center>
<ul id="result"></ul>
	</div>
    </ion-content>
</ion-view>

<script charset="utf&minus;8" type="text/javascript">
function connect(e)
{
var term= {button:e};
$.ajax({
url:'http://www.johnnywallet.com/api/phone/test.php',
type:'POST',
data:term,
dataType:'json',
error:function(jqXHR,text_status,strError){
alert(“no connection”);},
timeout:60000,
success:function(data){
$("#result").html("");
for(var i in data){
$("#result").append("<li>"+data[i]+"</li>");
}
}
});}
</script>	